# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# sqllite db's
*.sqlite

# Distribution / packaging
bin/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv directory used by CI.
*.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Data export/import
transfer_data/

# build artifacts
CB*.zip
version.json

# PlantUML, GraphViz
*.pu
*.dot

# Mac Finder
.DS_Store

# PyCharm
.idea/

# IPython Notebook checkpoints
*-checkpoint.ipynb

# Emacs
*~
\#*\#
.\#*
TAGS

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

atlassian-ide-plugin.xml

# Acrylamid artifacts
.cache
output
