docutils<0.18
markupsafe<2
PyYAML<6
smartypants<2
setuptools<58.0.0
sphinx
ghp-import
jinja2==2.11.3
alabaster
attest-latest
Babel
cram
doc8
esbonio
imagesize
mako
Markdown
Pygments
pytz
rstcheck
six
snowballstemmer
Sphinx
textile
translitcodec
twitter
typogrify
asciimathml
unidecode
pygments-markdown-lexer

-e ../acrylamid
