sphinx
ghp-import
acrylamid
docutils
jinja2==2.11.3
alabaster
Babel
imagesize
Markdown
Pygments
pytz
six
snowballstemmer
Sphinx
translitcodec
typogrify
smartypants<2
asciimathml
unidecode
PyYAML
pygments-markdown-lexer
